*{
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
    width: 100vw;
    background: #2193b0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    justify-content: center;
    align-items: center;  
    
}
.child{
    background-color: white;
    width: 360px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    gap: 10px;
}
.child img{
    height: 50%;
    padding: 20px;
}
.child h2{
    padding: 20px;
    text-align : center;
}